@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    background-color: #FFF0E5;
    margin: 30px 60px;

    padding-top: 15vh;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/*------------------phase2_ navbar*/

.topnav {

    display: flex;
    height: 10vh;
    width: 100%;
    padding: auto;
    justify-content: space-between;
    align-items: center;

}

h1 {
    font-size: 2rem;
    padding-bottom: 2.2px;
    color: #1D2340;
    cursor: default;
}

.links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-decoration-color: #FFF0E5;
    color: #1D2340;
    transition: all 300ms ease;
}

a:hover {

    text-decoration: underline;
    text-underline-offset: 0.8rem;
}

:root {
    --color-shadow: #1D2340;
    --shadow-offset-horrizontal: -5px;
    --shadow-offset-vertical: 5px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --transition-duration: 0.1s;
}

.topnav .hamburger {
    background: none;
    transition: all var(--transition-duration) ease-in-out;
    padding: 5px 5px 0px 5px;
    border: 2.5px solid #1D2340;
    border-radius: 0.5px;
}

.topnav .closeburger {
    background: none;
    transition: all var(--transition-duration) ease-in-out;
    padding: 5px 5px 0px 5px;
    border: 2.5px solid #FFF0E5;
    border-radius: 0.5px;
}

.topnav .hamburger:hover {
    box-shadow: var(--shadow-offset-horrizontal) var(--shadow-offset-vertical) var(--shadow-blur) var(--shadow-spread) var(--color-shadow);
    transform: scale(1.10);
}

.topnav .closeburger:hover {
    box-shadow: var(--shadow-offset-horrizontal) var(--shadow-offset-vertical) var(--shadow-blur) var(--shadow-spread) #FFF0E5;
    transform: scale(1.10);
}

.topnav .hamburger:active {
    box-shadow: 0 0 0 0 var(--color-shadow);
    transform: scale(1.10);
}

.topnav .closeburger:active {
    box-shadow: 0 0 0 0 #FFF0E5;
    transform: scale(1.10);
}


@media screen and (max-width:900px) {
    .menu {

        margin-top: 15vh;
        background-color: #1D2340;
        position: fixed;
        z-index: 500;
        inset: 0;
        padding: 30px 60px;
        transform: translate(100vw, 0);

        .links {

            flex-direction: column;

        }

        a {

            color: #FFF0E5;

        }

        .closeburger {

            display: block;
            margin-inline-start: auto;
            margin-block-end: 0rem;
            margin-top: 2vh;
            margin-bottom: 5vh;

        }
    }
}

@media screen and (min-width:900px) {
    button {
        display: none;
    }
}

/*------------------phase3_ section1*/


.container1 {

    margin-top: 30px;
    margin-left: 10.5px;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;

}

.container1:hover {

    transform: scale(1.02);

}

.me {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 3rem;
    padding: 20px;

}

.me .pseudo_info {

    margin-top: 5px;
    font-size: 2rem;

}

.container1 img {

    margin: 0px;
    border: 1px solid #1D2340;
    transition: all 0s ease-in-out;

}

.container1 img:hover {

    box-shadow: -8px 8px var(--shadow-blur) var(--shadow-spread) var(--color-shadow);

}


.me .button-container {

    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 40px;
    /* Adjust the space between the buttons */
    justify-content: center;
    /* Align buttons to the start of the .me div */

}

.me .button {

    padding: 10px 50px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffd300;
    background-color: #1D2340;
    border: 2px solid #1D2340;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;

}

.me .button:hover {

    box-shadow: -8px 8px var(--shadow-blur) var(--shadow-spread) var(--color-shadow);
    background-color: #FFF0E5;
    border: 2px solid #1D2340;
    color: #1D2340;

}

.dots-pattern2 {

    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 50 50"><pattern id="squares" x="20" y="20" width="50" height="50" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="10" height="10" fill="%231D2340"></rect></pattern><rect width="100%" height="100%" fill="url(%23squares)"></rect></svg>');

}

/* Adjustments for medium screens */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .container1 {
        flex-direction: column; /* Stack content vertically for better readability */
        align-items: center; /* Center-align the items for a neat appearance */
        margin-left: 0; /* Remove specific left margin to center content in the container */
    }

    .container1 img {
        width: 80%; /* Adjust image width to be responsive within the container */
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 20px; /* Add some space between the image and the text below it */
    }

    .me {
        text-align: center; /* Center-align text for readability */
        padding: 0 15px; /* Add some padding for text not to touch the edges */
        font-size: 2rem; /* Adjust font size for readability */
    }

    .me .pseudo_info {
        font-size: 1.5rem; /* Slightly smaller font size for secondary information */
    }

    .me .button-container {
        gap: 20px; /* Reduce gap between buttons for tighter layout */
    }

    .me .button {
        padding: 10px 30px; /* Adjust button padding for smaller screens */
    }
}

@media screen and (max-width: 600px) {
    

    .container1 img {
        width: 90%; /* Increase width to take more screen space, given smaller device width */
        margin-bottom: 15px; /* Adjust space between the image and text */
    }

    .me {
        padding: 0 10px; /* Adjust padding to slightly reduce it from the 600-900px settings */
        font-size: 1.8rem; /* Adjust font size for smaller screens */
    }

    .me .pseudo_info {
        font-size: 1.4rem; /* Further reduce font size for secondary text */
    }

    .me .button-container {
        flex-direction: column; /* Stack buttons vertically to save horizontal space */
        gap: 10px; /* Reduce gap as buttons are now stacked */
    }

    .me .button {
        width: 100%; /* Buttons take full width to easily tap on mobile */
        padding: 10px; /* Adjust padding for a tighter look */
        font-size: 0.9rem; /* Adjust font size for buttons */
    }
}






.container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    height: auto;
    min-width: 400px;
    width: 100%;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #1D2340;
    color: #FFF0E5;
    border-radius: 1rem;
    overflow: hidden;
}

.container2 h1 {
    font-size: 3.5rem;
    color: #ffd300;

}

.dots-pattern {
    width: 100%;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 50 50"><pattern id="squares" x="20" y="20" width="50" height="50" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="10" height="10" fill="%23FFF0E5"></rect></pattern><rect width="100%" height="100%" fill="url(%23squares)"></rect></svg>');

}

.test {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #1D2340;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
    align-items: flex-start;
    border: 1px solid #FFF0E5;

    overflow: hidden;


}

.test h2 {
    background-color: #1D2340;
    font-size: 2rem;
    color: #FFF0E5;
    width: 100%;
    padding: 0px 20px;
    border-bottom: 1px solid #FFF0E5;
}

.test p {
    padding: 10px 20px;
}

.test:hover {

    box-shadow: -8px 8px 0px 0px #FFF0E5;
}

.container3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin-bottom: 15px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .container2 {
        padding: 15px 20px; /* Slightly reduce padding for medium screens */
        gap: 15px; /* Adjust gap for better space utilization */
    }

    .container2 h1 {
        font-size: 3rem; /* Slightly reduce the font size for medium screens */
    }

    .test, .container3 {
        /* Adapt flex layouts if necessary or adjust padding/margins */
        padding: 0 15px; /* Example adjustment */
    }

    .test h2 {
        font-size: 1.8rem; /* Adjust headings within .test for better fit */
    }

    .test p {
        font-size: 1rem; /* Optionally adjust paragraph font size for readability */
    }

    .container3 {
        gap: 20px; /* Adjust the gap between flex items if .container3 uses flex */
    }
}
@media screen and (max-width: 600px) {
    .container2 {
        margin: 20px 10px; /* Adjust margins to fit small screens */
        padding: 10px; /* Reduce padding to utilize screen space effectively */
        gap: 10px; /* Reduce gap to maintain layout compactness */
    }

    .container2 h1 {
        font-size: 2.5rem; /* Reduce the font size significantly for small screens */
    }

    .test, .container3 {
        /* Further adjust flex layouts or padding/margins for small screens */
        padding: 0 10px; /* Example adjustment for small screens */
    }

    .test h2 {
        font-size: 1.6rem; /* Further reduce heading sizes within .test for compact layout */
    }

    .test p {
        font-size: 0.9rem; /* Reduce paragraph text size for better readability on small screens */
    }

    .container3 {
        /* If .container3 changes layout on small screens, apply those changes here */
        flex-direction: column; /* Ensure vertical stacking for compact navigation */
        gap: 10px; /* Adjust gap for compactness */
    }
}


.underconstruction {
    position: fixed;
    /* Keeps the bar fixed during scrolling */
    top: 0;
    /* Aligns the bar to the top of the viewport */
    left: 0;
    /* Ensures the bar starts from the very left edge */
    width: 100vw;
    /* Sets the width to cover the full viewport width */
    height: 15vh;
    /* Adjust the height as needed */
    background-color: #1D2340;
    /* Your chosen background color */
    color: #FFF0E5;
    /* Your chosen text color */
    display: flex;
    /* Enables flexbox layout */
    justify-content: center;
    /* Centers the content horizontally */
    align-items: center;
    /* Centers the content vertically */
    z-index: 1000;
    /* Ensures the bar is above other content */
    font-size: 1.5rem;
    /* Adjusts the font size */
    text-align: center;
    /* Centers the text inside the bar */
}

























/* */