@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    background-color: #FFF0E5;
    margin: 30px 40px;
   
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/*------------------phase2_ navbar*/

.topnav {

    display: flex;
    height: 10vh;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;

}

h1 {
    font-size: 2rem;
    padding-bottom: 2.2px;
    color: #1D2340;
    cursor: default;
}

.links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-decoration-color: #FFF0E5;
    color: #1D2340;
    transition: all 300ms ease;
}

a:hover {

    text-decoration: underline;
    text-underline-offset: 0.8rem;
}

:root {
    --color-shadow: #1D2340;
    --shadow-offset-horrizontal: -5px;
    --shadow-offset-vertical: 5px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --transition-duration: 0.1s;
}

.topnav .hamburger {
    background: none;
    transition: all var(--transition-duration) ease-in-out;
    padding: 5px 5px 1px 5px;
    border: 2.5px solid #1D2340;
    border-radius: 0.5px;
}

.topnav .closeburger {
    background: none;
    transition: all var(--transition-duration) ease-in-out;
    padding: 5px 5px 0px 5px;
    border: 2.5px solid #FFF0E5;
    border-radius: 0.5px;
}

.topnav .hamburger:hover {
    box-shadow: var(--shadow-offset-horrizontal) var(--shadow-offset-vertical) var(--shadow-blur) var(--shadow-spread) var(--color-shadow);
    transform: scale(1.10);
}

.topnav .closeburger:hover {
    box-shadow: var(--shadow-offset-horrizontal) var(--shadow-offset-vertical) var(--shadow-blur) var(--shadow-spread) #FFF0E5;
    transform: scale(1.10);
}

.topnav .hamburger:active {
    box-shadow: 0 0 0 0 var(--color-shadow);
    transform: scale(1.10);
    transition: all 0.1s ease;
}

.topnav .closeburger:active {
    box-shadow: 0 0 0 0 #FFF0E5;
    transform: scale(1.10);
    transition: all 0.1s ease;
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .menu {

        
        background-color: #1D2340;
        position: fixed;
        z-index: 500;
        inset: 0;
        padding: 20px 30px;
        transform: translate(100vw, 0);

        .links {

            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30vh;

        }

        a {

            color: #FFF0E5;

        }

        .closeburger {

            display: block;
            margin-inline-start: auto;
            margin-block-end: 0rem;
            margin-top: 2vh;
            margin-bottom: 5vh;

        }
    }
}

@media screen and (max-width: 600px) {
    .menu {

        
        background-color: #1D2340;
        position: fixed;
        z-index: 500;
        inset: 0;
        padding: 0px 20px;
        transform: translate(100vw, 0);

        .links {

            flex-direction: column;
            margin-top: 30vh;

        }

        a {

            color: #FFF0E5;

        }

        .closeburger {

            display: block;
            margin-inline-start: auto;
            margin-block-end: 0rem;
            margin-top: 2.50vh;
            margin-bottom: 5vh;

        }
    }
}

@media screen and (min-width:900px) {
    button {
        display: none;
    }
}

/*------------------phase3_ section1*/


.container1 {

    margin-top: 30px;
    margin-left: 10.5px;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;

}

.container1:hover {

    transform: scale(1.02);

}

.me {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 3rem;
    padding: 20px;

}

.me .pseudo_info {

    margin-top: 5px;
    font-size: 2rem;

}

.container1 img {

    margin: 0px;
    border: 1px solid #1D2340;
    transition: all 0s ease-in-out;

}

.container1 img:hover {

    box-shadow: -8px 8px var(--shadow-blur) var(--shadow-spread) var(--color-shadow);

}


.me .button-container {

    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 40px;
    /* Adjust the space between the buttons */
    justify-content: center;
    /* Align buttons to the start of the .me div */

}

.me .button {

    padding: 10px 50px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffd300;
    background-color: #1D2340;
    border: 2px solid #1D2340;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
   

}

.me .button:hover {

    box-shadow: -8px 8px var(--shadow-blur) var(--shadow-spread) var(--color-shadow);
    background-color: #FFF0E5;
    border: 2px solid #1D2340;
    color: #1D2340;
    

}
.me .button:active {

    box-shadow: 0 0 0 0 var(--color-shadow);
    transition: all 0.1s ease;
    

}

.dots-pattern2 {

    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 50 50"><pattern id="squares" x="20" y="20" width="50" height="50" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="10" height="10" fill="%231D2340"></rect></pattern><rect width="100%" height="100%" fill="url(%23squares)"></rect></svg>');

}

/* Adjustments for medium screens */
@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        margin: 20px 30px;
    }
    .container1 {
        flex-direction: column; /* Stack content vertically for better readability */
        align-items: center; /* Center-align the items for a neat appearance */
        margin-left: 0; /* Remove specific left margin to center content in the container */
    }

    .container1 img {
        width: 50vw; /* Adjust image width to be responsive within the container */
        height:auto; /* Maintain aspect ratio */
        margin-bottom: 20px; /* Add some space between the image and the text below it */
    }
*
    .me {
        text-align: center; /* Center-align text for readability */
        padding: 0 15px; /* Add some padding for text not to touch the edges */
        font-size: 2rem; /* Adjust font size for readability */
    }

    .me .pseudo_info {
        font-size: 1.5rem; /* Slightly smaller font size for secondary information */
    }

    .me .button-container {
        gap: 20px; /* Reduce gap between buttons for tighter layout */
    }

    .me .button {
        padding: 10px 30px; /* Adjust button padding for smaller screens */
    }
}

@media screen and (max-width: 600px) {
    .topnav h1 {
        font-size: 1.5rem;

    }
    .topnav .closeburger {
        
        transform: scale(0.90);
    }
    .topnav .hamburger {
        
        transform: scale(0.90);
    }
    body {
        margin: 0px;
        padding-left: 20px  ;
        padding-right: 20px;
    }
    .container2 {
        margin: inherit 0px;
    }
    .container1 {
        flex-direction: column; /* Keeps content stacked vertically */
        align-items: center; /* Centers the content */
        margin: 0 auto; /* Centers the container with automatic horizontal margins */
        padding: 20px 10px; /* Adjusts padding for the whole container */
    }

    .container1 img {
        width: 70vw; /* Adjusts image width to be responsive based on viewport width */
        height: auto; /* Maintains aspect ratio */
        margin-bottom: 20px; /* Adds some space below the image */
    }

    .me {
        text-align: center; /* Centers text */
        font-size: 1.8rem; /* Adjusts the font size for main text */
        padding: 0; /* Removes padding around text for edge-to-edge design or minimal spacing */
    }

    .me .pseudo_info {
        font-size: 1.4rem; /* Adjusts the font size for secondary information */
        margin-top: 10px; /* Adds a bit more space above this text */
    }

    .me .button-container {
        flex-direction: row; /* Stacks buttons vertically */
        width: 100%; /* Ensures the button container takes up the full width */
        gap: 10px; /* Adds space between stacked buttons */
        align-items: center; /* Centers the buttons */
    }

    .me .button {
        width: auto; /* Allows buttons to size according to their content */
        padding: 10px 20px; /* Adjusts padding within buttons for a comfortable tap area */
        font-size: 1rem; /* Keeps button text readable */
        margin: 0; /* Removes any default margin */
    }
}



#projects {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

#about {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    height: auto;
    
    width: 100%;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #1D2340;
    color: #FFF0E5;
    border-radius: 1rem;
    overflow: hidden;
}

.container2 h1 {
    font-size: 3.5rem;
    color: #ffd300;

}

.dots-pattern {
    width: 100%;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 50 50"><pattern id="squares" x="20" y="20" width="50" height="50" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="10" height="10" fill="%23FFF0E5"></rect></pattern><rect width="100%" height="100%" fill="url(%23squares)"></rect></svg>');

}

.test {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1D2340;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
    align-items: flex-start;
    border: 1px solid #FFF0E5;

    overflow: hidden;


}

.test h2{
    background-color: #1D2340;
    font-size: 2rem; /* Adjust the font-size for h3 if necessary */
    color: #FFF0E5;
    width: 100%;
    padding: 2px 20px;
    border-bottom: 1px solid #FFF0E5;
}

 .test h3 {
    background-color: #1D2340;
    font-size: 1.6rem; /* Adjust the font-size for h3 if necessary */
    color: #FFF0E5;
    width: 100%;
    padding: 2px 20px;
    
}
.ecole {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* If you want h3 to have a smaller font-size, you can add this */


.test p {
    padding: 5px 20px 5px 20px;
    color: #FFF0E5; /* Assuming you want the text color to be the same as h2 */
}



.test:hover {

    box-shadow: -8px 8px 0px 0px #FFF0E5;
}

.container3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin-bottom: 15px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .container2 {
        padding: 20px; /* Provide enough padding for readability */
        gap: 20px; /* Adjust the gap for visual separation of elements */
    }

    .container2 h1 {
        font-size: 2.8rem; /* Optimize the heading size for medium screens */
    }

    .test h2 {
        font-size: 1.8rem; /* Ensure subheadings are legible but not too large */
    }
    .test h3 {
        
        font-size: 1.4rem; /* Adjust the font-size for h3 if necessary */
        
        
    }
    .test p {
        font-size: 1rem; /* Maintain paragraph readability */
    }

    .container3 {
        flex-direction: column;
        gap: 20px; /* Keep items in `.container3` well spaced */
    }
}

@media screen and (max-width: 600px) {
    body {
        margin: 0px;
        padding-left: 20px  ;
        padding-right: 20px;
    }
    .container2 {
        
        padding: 15px; /* Sufficient padding to prevent content from touching the edges */
        gap: 20px; /* Less gap to save space but maintain separation */
    }

    .container2 h1 {
        font-size: 2.8rem; /* Further reduce for small screens to fit content nicely */
    }

    .test h2 {
        font-size: 1.6rem; /* Scale down for small screens for consistency */
    }
    .test h3 {
        
        font-size: 1.2rem; /* Adjust the font-size for h3 if necessary */
        
        
    }
    .test p {
        font-size: 0.9rem; /* Slightly smaller text for compactness and readability */
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Stack items vertically for better navigation */
        gap: 20px; /* Tighten the gap for a compact layout */
    }
}


.underconstruction {
    position: fixed;
    /* Keeps the bar fixed during scrolling */
    top: 0;
    /* Aligns the bar to the top of the viewport */
    left: 0;
    /* Ensures the bar starts from the very left edge */
    width: 100vw;
    /* Sets the width to cover the full viewport width */
    height: 15vh;
    /* Adjust the height as needed */
    background-color: #1D2340;
    /* Your chosen background color */
    color: #FFF0E5;
    /* Your chosen text color */
    display: flex;
    /* Enables flexbox layout */
    justify-content: center;
    /* Centers the content horizontally */
    align-items: center;
    /* Centers the content vertically */
    z-index: 1000;
    /* Ensures the bar is above other content */
    font-size: 1.5rem;
    /* Adjusts the font size */
    text-align: center;
    /* Centers the text inside the bar */
}

























/* */